<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Overview</title>
    </head>
    <body>
    {{>header}}

        <p> {{projectsWelcome}}</p>
         <!--injecting partials:-->
        {{>footer}}
    </body>
</html>