<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
    {{>header}}

        <p> Blah Blah</p>
         <!--injecting partials:-->
        {{>footer}}
    </body>
</html>
<!--test-->