<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
       {{>header}}
       <!-- calling screamIt with the welcome property as an arguement-->
    <p>{{screamIt welcome}}</p>
  <!--injecting partials:-->
    {{>footer}}
  </body>
</html>
